fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
langchain
langgraph
langchain-openai
pdfplumber
unstructured
qdrant-client
sentence-transformers
neo4j
celery
redis
ragas
langfuse
presidio-analyzer
presidio-anonymizer
langchain-groq
groq
pytesseract
fpdf2
python-multipart